<div>
    {{#each item}}
{{!-- Inside each we need to call the data with this.name --}}
    <p>{{this.name}}</p>
</div>
<div>

<audio src="{{this.preview_url}}" type="audio/mpeg"></audio>
{{/each}}
</div>